@model IEnumerable<Ilaser2.Models.Order_Product>

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-lg-offset-1 col-lg-5" style="color:gold;background-color:#13132b;padding:15px;">

        <h2>Your Orders</h2>

        <a href="@Url.Action("Index","Products")" class="btn btn-success"> Create a new order</a>
        <table class="table table-dark table-hover">
            <tr>
                <th>
                    Quantity
                </th>
                <th>
                    Total Price
                </th>
                <th>
                    Product Name
                </th>
             <th>
                 Photo
             </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Qty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total_Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                 <td>
                     <img src="~/Uploads/@item.Product.ProductMainPicture" class="thumbnail" style="height:100px;">

                 </td>
                    <td class="btn btn-primary">

                        @Html.ActionLink("Details", "Details", new { id = item.Order_Id }) 
                      
                    </td>
                </tr>
            }

        </table>
</div>
</div>