@model Ilaser2.Models.Comment

@{
    ViewBag.Title = "Delete";
}
<div class="row">
    <div class="col-lg-offset-1 col-lg-5" style="color:gold;background-color:#070651;padding:15px;">
        <h2>Are You Sure You want to delete this comment</h2>
     
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    The Comment
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    Time
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Time)
                </dd>

                <dt>
                    Product Name:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Product.Name)
                </dd>

                <dt>
                    Commented By:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.User.User_FirstName)
                    @Html.DisplayFor(model => model.User.User_LastName)

                </dd>


            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" /> |

                </div>
            }
        </div>
    </div>
