@model IEnumerable<Ilaser2.Models.Photo>

@{
    ViewBag.Title = "PhotosByProduct";
}

<h2>PhotosByProduct</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Photo_URL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Photo_URL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Photo_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Photo_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Photo_Id })
        </td>
    </tr>
}

</table>
