@model Ilaser2.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="login">
    <div class="container-fluid">
       
        <div class="row">
            <div class="col-md-8">
                <section id="loginForm" class="col-lg-7" style="color:gold;background-color:darkblue;border:thick;">
                    @using (Html.BeginForm("Login", "Users", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                        @Html.AntiForgeryToken()
                        <h3> Login </h3>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group" style="color:gold;font-size:larger;">
                            <div class="col-offset-lg-2 col-lg-4">
                                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                </div>
                                
                                    <div class="col-lg-8">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                       
                                    </div>
                            </div>
                        <div class="form-group" style="font-size:larger;color:gold;">
                            <div class="col-offset-lg-2 col-lg-4">

                                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                </div>
                                <div class="col-md-8">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10 ">
                                <input type="submit" value="Login" class="btn btn-success" />

                                <a href="@Url.Action("Register","Users")" class="btn btn-primary"> Register </a>
                            </div>
                        </div>
                        <p style="color:red">
                            @ViewBag.Error
                        </p>
                    }
                </section>
            </div>

        </div>
    </div>
</div>